.main-section {
    padding: 2rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    color: #333;
  }
  
  .main-section h1 {
    color: #333;
  }
  
  .main-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .main-section li {
    margin-bottom: 0.5rem;
  }
  