.navbar {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 1rem;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  